.container {
    width: 50%;
    margin: auto;
    border: 5px solid black;
    overflow: hidden;
    position: relative;
}

.slidesContainer {
    min-width: 100%;
    display: flex;
}

.slidesContainer img {
    min-width: 100%;
}

.container #prevBtn,
.container #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

#nextBtn i,
#prevBtn i{
    text-shadow: .5px .5px 0 rgb(194, 194, 194), -.5px -.5px 0 rgb(194, 194, 194);
}

#nextBtn:hover i,
#prevBtn:hover i{
    text-shadow: .5px .5px 3px #000, -.5px -.5px 3px #000;
}

.container button:hover {
    color: white;
    transform: scale(110%), translateY(-50%);
}


.btnWrapper {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 15px;
    right: 50%;
    transform: translateX(50%);
}

.progressBtns {
    border: .2px solid white;
    background-color: black;
    border-radius: 3px;
    height: 7px;
    width: 10px;
    cursor: pointer;
}

.active {
    background-color: rgb(194, 194, 194);
}

.progressBtns.last,
.progressBtns.first {
    display: none;
}

